.ContainerImage {
  margin-top: 0.1rem;
  display: flex;
  justify-content: center;
  background: rgba(248, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.Image1, .Image2 {
  z-index: -1;
  opacity: 0.5;
}
